mat-card {
    width: 300px;
    margin-top: 10px;
    text-align: center;
    
}
.container1{
    border: 0.2px solid black ;
    width: 25%;
    margin-top: 30px;
    margin-left: 30px;
    height: 600px;
}
h1{
    text-align: center;
}

.container2{
    border: 0.2px solid black;
    width: 25%;
    margin: 30px 0 0 30px;
    margin-left: 150px;
    height: 600px;
}

.container-response{
    border: 0.2px solid black;
    width: 30%;
    margin: 30px 0 0 30px;
    margin-left: 150px;
    height: 600px;
}

.container3{
    border: 0.2px solid black;
    width: 500px;
    margin-top: 700px;
    margin-left: 200px;
    height: 150px;
}


.container{
    display: flex;
}

button{
    background-color: white;
    width: 50%;
    margin: 30px;
    padding: 15px 40px ;
    text-align: center;
}

.example-button-row{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.row-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
   
}

.button-del{
    background-color: rgba(255, 0, 0, 0.822);
    width: 5%;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 80%;
    display: flex;
    padding: 2px 2px 2px 2px;
}

.mat-form-fields{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
}

.input-mat{
    width: 50px;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}