<div class="container">

    <div class="container1">
        <h1> Área de Mensagem </h1>
        <div class="cards">
            <div class="row-cards">
                <mat-card>Mensagem 1</mat-card>
            </div>
            <div class="row-cards">
                <mat-card>Mensagem 2</mat-card>
            </div>
            <div class="row-cards">
                <mat-card>Mensagem 3</mat-card>
            </div>
            <div class="row-cards">
                <mat-card>Mensagem 4</mat-card>
            </div>
            <div class="row-cards">
                <mat-card>Mensagem 5</mat-card>
            </div>
        </div>
    </div>
    
    <div class="container2">
        <h1>Área de Categorias</h1>
        <div class="botoes">
            <div class="example-button-row">
                <button mat-raised-button>Climb</button>
                <button mat-raised-button>Route</button>
            </div>
              <div class="example-button-row">
                  <button mat-raised-button>Emergency</button>
                  <button mat-raised-button>Descend</button>
                </div>
                <div class="example-button-row">
                  <button mat-raised-button>Comms</button>
                  <button mat-raised-button>Speed</button>
                </div>
                <div class="example-button-row">
                  <button mat-raised-button>Report</button>
                  <button mat-raised-button>Crossing</button>
                </div>
        </div>
        
    </div>

    <div class="container3">
        <h1>Área de Envio</h1>
        <div class="botao-enviar">
            <div class="example-button-row">
                <button mat-raised-button>Send Message </button>
        </div>
        
    </div>


</div> 

