<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Uavs controle</span>
    <span class="example-spacer"></span>
    <div class="botao-home">
      <button *ngIf="loginService.isUserLoggedIn()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
        <a routerLink="/uavs" class="nav-link">Uavs</a>
      </button>
    </div>

    <div class="link-clima" *ngIf="loginService.isUserLoggedIn()">
      <a routerLink="/clima" class="nav-link ">Clima</a>
    </div>

    <div class="link-clima" *ngIf="loginService.isAdmin() && loginService.isUserLoggedIn()">
      <a routerLink="/new" class="nav-link ">Novo Usuário</a>
    </div>
    <div class="botao-logout">

      <button *ngIf="loginService.isUserLoggedIn()" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
        <a routerLink="/logout" class="nav-link">Logout</a>
      </button>
    </div>

  </mat-toolbar>
</p>