<div id="mapa">

    <google-map width="100%" height="800" [center]='position'>
        <map-marker #marker="mapMarker" (mapClick)='openInfoWindow(marker)' [position]='markerPosition'>
            <map-info-window>
                Base Fatec para aeronaves não tripuladas.
            </map-info-window>
        </map-marker>

        <map-marker [position]='positionDest'>
            <map-info-window>
                Teste
            </map-info-window>
        </map-marker>

        <map-polyline [path]='vertices'></map-polyline>
    </google-map>

    <input matInput name="positionDest.lat" [(ngModel)]="positionDest.lat">
    <input matInput name="positionDest.lng" [(ngModel)]="positionDest.lng">

    <button class="button" mat-raised-button color="primary" (click)="addDest(positionDest.lat, positionDest.lng)">
        <mat-icon>add</mat-icon>
    </button>

</div>