<mat-card class="example-card">

    <h3>Autenticar</h3>

    <form class="container" [formGroup]="authForm" (ngSubmit)="authUser(authForm.value)">

        <mat-form-field>
            <input matInput name="username" placeholder="Usuário" formControlName="username">
        </mat-form-field>

        <br />

        <mat-form-field>
            <input matInput name="password" placeholder="Senha" formControlName="password">
        </mat-form-field>

        <br />

        <button type="submit" [disabled]="!authForm.valid" mat-button color="primary"><mat-icon>login</mat-icon> Login</button>

    </form>

    <br />

    <span *ngIf="authError" class="error-auth">
        Usuário e/ou Senha errado(s)!
    </span>

</mat-card>