<div class="container">

  <div class="">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Usuário</mat-label>
        <input matInput name="username" [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password">
      </mat-form-field>
      
      <button mat-raised-button (click)=checkLogin() color="primary" >Login</button>
    </form>
  </div>
   
  </div>